Import Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

-Import the dataset "diamonds" from Seaborn

-print the first 5 rows of the dataset

In [2]:
diamonds_df = sns.load_dataset("diamonds")
diamonds_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# Divide data into features and labels

In [3]:
#extracting features
X = diamonds_df.drop(["price"], axis=1)

#extracting labels
y = diamonds_df["price"]

printing features

In [4]:
X.head()

   carat      cut color clarity  depth  table     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

print the labels

In [5]:
y.head()

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

# Convert categorical data to numbers

removing categorical features

In [6]:

numerical = X.drop(['cut', 'color', 'clarity'], axis = 1)

printing numeric features only

In [7]:
numerical.head()

   carat  depth  table     x     y     z
0   0.23   61.5   55.0  3.95  3.98  2.43
1   0.21   59.8   61.0  3.89  3.84  2.31
2   0.23   56.9   65.0  4.05  4.07  2.31
3   0.29   62.4   58.0  4.20  4.23  2.63
4   0.31   63.3   58.0  4.34  4.35  2.75

-filter categorical features

-print categorical features header

In [8]:
categorical = X.filter(['cut', 'color', 'clarity'])

categorical.head()

       cut color clarity
0    Ideal     E     SI2
1  Premium     E     SI1
2     Good     E     VS1
3  Premium     I     VS2
4     Good     J     SI2

perform one-hot encoding

In [9]:
cat_numerical = pd.get_dummies(categorical).astype(int)
cat_numerical.head()

,cut_Ideal,cut_Premium,cut_Very Good,cut_Good,cut_Fair,color_D,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0

concatenate numeric and one hot-encoded features

In [10]:
X = pd.concat([numerical, cat_numerical], axis = 1)
X.head()

,carat,depth,table,x,y,z,cut_Ideal,cut_Premium,cut_Very Good,cut_Good,...,color_I,color_J,clarity_IF,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.23,61.5,55.0,3.95,3.98,2.43,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.21,59.8,61.0,3.89,3.84,2.31,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.23,56.9,65.0,4.05,4.07,2.31,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0.29,62.4,58.0,4.20,4.23,2.63,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
4,0.31,63.3,58.0,4.34,4.35,2.75,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0

divide data into training and test sets

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.20, random_state=42)

feature scaling using standard scaler

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform (X_test)

-importing the random forest algorithm from Sklearn

-training the model

-making predicitons on the test set

In [13]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(random_state=42, n_estimators=500)


regressor = rf_reg.fit(X_train, y_train)


y_pred = regressor.predict(X_test)

Evaluating model performance

In [14]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 269.4844682605158
Mean Squared Error: 302213.4763982064
Root Mean Squared Error: 549.7394622893706

Predicting Price of Diamond with Specific Characteristics

In [15]:
specific_diamond = pd.DataFrame({
    'carat': [0.25],
    'cut': ['Premium'],
    'color': ['J'],
    'depth': [56.7],
    'table': [57.0],
    'x': [4.01],
    'y': [4.05],
    'z': [2.35]
})
#Preform One-Hot Encoding for Categorical features
specific_cat_numerical = pd.get_dummies(specific_diamond[['cut','color']])
specific_numerical = specific_diamond.drop(['cut','color'],  axis=1)

#Creating a DataFrame with all possible categorical columns from training data
all_cat_columns=set(cat_numerical.columns)
specific_cat_numerical = specific_cat_numerical.reindex(columns=all_cat_columns,fill_value=0)

#Concatinating the numerical and categorical features
specific_diamond_processed = pd.concat([specific_numerical, specific_cat_numerical], axis=1)

#Ensuring the columns are in the same order as they were during training
specific_diamond_processed = specific_diamond_processed[X.columns]

#Scaling the features using the previously fitted StandardScalar
specific_diamond_processed_scaled = sc.transform(specific_diamond_processed)

#Making prediction on specific diamond
predicted_price_specific = regressor.predict(specific_diamond_processed_scaled)

#Printing results
print("Predicted Price for the Specific Diamond:" ,predicted_price_specific[0])

Predicted Price for the Specific Diamond: 588.486